* {
	font-family: 'Courier New', monospace;
	color: rgb(67, 9, 50);
}

html {
	min-height: 100%;
	overflow-y: scroll;
	cursor: url(photos/star_cursor.png), auto;
}


body {
	background-image: url("photos/star_bg.gif"), linear-gradient(to bottom, rgb(255, 181, 194), rgb(129, 1, 59));
	background-repeat: repeat;
	background-blend-mode: lighten;
	margin: 0px;
}

#home {
	margin-top: 75px; /* this is in #home bc it's the top section so the greedy nav bar doesn't cover it */
}

section {
	background-color: rgb(240, 200, 216);
	padding: 10px;
	margin: 30px;
	border: 10px solid transparent;
	border-image-source: url(photos/frame_square.png);
	border-image-slice: 28;
	border-image-width: 2;
	border-image-outset: 1;
	border-image-repeat: repeat;

}

footer {
	background-color: rgb(253, 227, 112);
	text-align: center;
	padding: 5px;
	position: static;
	bottom: 0;
	left: 0;
	right: 0;

	border-top: 10px solid transparent;
	border-image-source: url(photos/navframe_spikejumble.png);
	border-image-slice: 28;
	border-image-width: 2;
	border-image-outset: 1;
	border-image-repeat: repeat;
}

address {
	font-style: normal;
}

nav {
	background-size: 400px 400px;
	background-color: rgba(253, 227, 112, 1);
	text-align: center;
	padding: 5px;
	color: rgb(138, 0, 126);

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	border-bottom: 10px solid transparent;
	border-image-source: url(photos/navframe_spikejumble.png);
	border-image-slice: 28;
	border-image-width: 2;
	border-image-outset: 1;
	border-image-repeat: repeat;
	
}

.nav_icon {
	height: 16px;
	margin-right: 3px;
}

nav a {
	text-decoration: none;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 120%;
}

a:hover, a:hover * {
	color: rgb(224, 59, 114);
	cursor: url(photos/star_cursor.png), auto;
}

.image_link:hover {
	opacity: 0.7;
}